/* Áp dụng cho tất cả các bảng */
table {
    width: 80%;              /* Độ rộng bảng 80% */
    /* margin: 0 3%;            Cách lề trái và phải 3% */
    border-collapse: collapse; /* Đảm bảo không có khoảng cách giữa các ô */
    /* font-size: 16px; */
  }
  
  /* Header của bảng */
  table thead th {
    font-weight: bold!important;
    background-color: #1976d2; /* Màu xanh dương cho header */
    color: white!important;              /* Chữ trắng trong header */
    text-align: center!important;        /* Căn giữa nội dung trong header */
    font-size: 16px!important;

  }
  
  /* Các ô trong body của bảng */
  table tbody td {
    text-align: center!important;        /* Căn giữa nội dung trong các ô */
    border: 1px solid #ddd;    /* Đường viền nhạt giữa các ô */
    font-size: 14px!important;
  }
  
  /* Căn giữa các biểu tượng trong các ô có chứa Icon */
  table tbody td button, 
  table tbody td svg {
    vertical-align: middle;
  }
  
  /* Button Tạo mới/Thêm mới */
  button.create-new-btn {
    background-color: green;      /* Màu xanh lá cây */
    color: white;                 /* Màu chữ trắng */
    width: 10%;                   /* Độ rộng khoảng 10% */
    /* margin-right: 3%;             Cách lề phải 3% */
    padding: 6px;                 /* Độ cao hơn chữ 6px */
    display: flex;                /* Sử dụng flex để căn giữa */
    justify-content: center;      /* Căn giữa theo chiều ngang */
    align-items: center;          /* Căn giữa theo chiều dọc */
    float: right!important;                 /* Đảm bảo nằm bên phải */
    height: 42px;
  }
  
  /* Hover effect cho button */
  .create-new-btn:hover {
    background-color: darkgreen;  /* Màu xanh đậm hơn khi hover */
  }

  card.dashbroad{
    position: relative; 
    padding: 10px;
    display: flex!important; 
    flex-direction: column; 
    justify-content: space-between; 
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1)
  }
  
  box.dashbroad {
    /* background-color: #FFA726; */
    position: absolute;
    top: 15px;  
    left: 15px;
    width: 85px;
    height: 85px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
